{% include "header.html" %}

      <!-- Directions -->
      <section class="white-section" id="directions">

        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="section">The location...</h3>
                <img class="container-fluid" src="{{ url_for('static', filename='images/villa.jpg') }}" alt="Villa Schützenhof">
            </div>
            <div class="col-md-6">
                <h3 class="section">...and how to get there</h3>
                <iframe class="container-fluid embed" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9700.395977581675!2d13.212297!3d52.567821!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a855e08df57265%3A0x622361571a7f38da!2sVilla%20Sch%C3%BCtzenhof!5e0!3m2!1sde!2sde!4v1701191515822!5m2!1sde!2sde" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="row">
                  <div class="col-md-2 dirLogo">
                    <img class="logo" src="{{ url_for('static', filename='images/S-Bahn-Logo.svg.png') }}" alt="S-Bahn-Logo">
                  </div>
                  <div class="col-md-10 dirText">
                    <p>S+U-Bahnhof Spandau:<br>S3/S5/S9/U7, or Regionalbahn.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 dirLogo">
                    <img class="logo" src="{{ url_for('static', filename='images/Bus-Logo.png') }}" alt="Bus-Logo">
                  </div>
                  <div class="col-md-10 dirText">
                    <p>Bus stop Werderstraße:<br>Bus 136 (Werderstraße or Henningsdorf), or Bus 139 Messe Nord ICC.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 dirLogo">
                    <img class="logo" src="{{ url_for('static', filename='images/car.png') }}" alt="Car-Logo">
                  </div>
                  <div class="col-md-10 dirText">
                    <p>Parking spaces on the grounds of Villa Schützenhof (access via Werderstraße 3), or along Werderstraße & at the bus loop
                      in front of the location.</p>
                  </div>
                </div>
            </div>
        </div>

    </section>

{% include "footer.html" %}