<!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <h2>Mandy & Christian</h2>
      <a href="https://www.instagram.com/mcy_wu/" target="_blank"><i class="social-icon fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/christian.tran.543/" target="_blank"><i class="social-icon fa-brands fa-facebook"></i></a>
      <a href="mailto:christian.kn.tran@gmail.com" target="_blank"><i class="social-icon fa-solid fa-envelope"></i></a>
    </div>
  </footer>


</body>

</html>
