{% include "header.html" %}

<!-- Main -->
<section class="colored-section" id="main">
    <div class="container-fluid">
        <img src="{{ url_for('static', filename='images/main_pic_horizontal.jpg') }}" class="img-fluid mainImage"
             alt="Main Picture">
        <h2 class="mainText">
            {% if lang == None or lang == 'en' %}
            July 20, 2024, Berlin
            {% elif lang == 'de' %}
            20. Juli 2024, Berlin
            {% endif %}
        </h2>
        <a class="btn btn-lg btn-block btn-light mainButton" href="
     {% if lang == None or lang == 'en' %}
      {{ url_for('rsvp', lang='en') }}
     {% elif lang == 'de' %}
      {{ url_for('rsvp', lang='de') }}
     {% elif lang == 'tw' %}
      {{ url_for('rsvp', lang='tw') }}
     {% endif %}
    " role="button">
            {% if lang == None or lang == 'en' %}
            - RSVP -
            {% elif lang == 'de' %}
            - Rückmeldung -
            {% endif %}
        </a>
    </div>
</section>


<!-- Info -->

<section class="white-section" id="info">
    <div class="container-fluid">
        <div class="infoDiv">
            <h2>
                {% if lang == None or lang == 'en' %}
                3:00pm - Dawn
                {% elif lang == 'de' %}
                15:00 Uhr - Spät
                {% endif %}
            </h2>
        </div>
        <p><strong>Villa Schützenhof</strong></p>
        <p>Niederneuendorfer Allee 12</p>
        <p>13587 Berlin</p>
        <a href="https://maps.app.goo.gl/9A8Y8fagSvh8zNoX6" target="_blank">
            {% if lang == None or lang == 'en' %}
            View Map
            {% elif lang == 'de' %}
            Auf der Karte
            {% endif %}
        </a>
    </div>
</section>

<!-- Gallery -->

<section class="white-section" id="gallery">
    <div class="row justify-content-center container-fluid">
        <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
            <img class="container-fluid" src="{{ url_for('static', filename='images/Wed_1.jpg') }}"
                 alt="Gallery Picture 1">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
            <img class="container-fluid" src="{{ url_for('static', filename='images/Wed_2.jpg') }}"
                 alt="Gallery Picture 2">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
            <img class="container-fluid" src="{{ url_for('static', filename='images/Wed_3.jpg') }}"
                 alt="Gallery Picture 3">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
            <img class="container-fluid" src="{{ url_for('static', filename='images/Wed_4.jpg') }}"
                 alt="Gallery Picture 4">
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 mx-auto">
            <img class="container-fluid" src="{{ url_for('static', filename='images/Wed_5.jpg') }}"
                 alt="Gallery Picture 5">
        </div>
    </div>
</section>


<!-- RSVP -->

<section class="colored-section" id="rsvp">
    <div class="container-fluid">
        <div class="infoDiv">
            <h4>
                {% if lang == None or lang == 'en' %}
                We hope you can celebrate with us!
                {% elif lang == 'de' %}
                Wir hoffen, dass ihr uns an unserem Tag begleiten könnt!
                {% endif %}
            </h4>
            <a href="
         {% if lang == None or lang == 'en' %}
          {{ url_for('rsvp', lang='en') }}
         {% elif lang == 'de' %}
          {{ url_for('rsvp', lang='de') }}
         {% elif lang == 'tw' %}
          {{ url_for('rsvp', lang='tw') }}
         {% endif %}
        ">
                {% if lang == None or lang == 'en' %}
                RSVP
                {% elif lang == 'de' %}
                Rückmeldung
                {% endif %}
            </a>
        </div>
    </div>
</section>

{% include "footer.html" %}
