{% include "header.html" %}

  <section class="colored-section" id="photosInfo">
    <div class="container-fluid">
      <div class="formDiv">
        <h1>Let's share our memories!</h1>
      </div>
      <p>You can download and upload any media here.</p>
    </div>
  </section>

<!-- Timeline -->
<section class="white-section" id="photos">
    <div class="container-fluid">
<iframe src="https://drive.google.com/embeddedfolderview?id=170F_fz9UdY6LZWxlRuyDfrZ2N_8-p-ka#list" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</section>

{% include "footer.html" %}