{% include "header.html" %}

<section class="colored-section" id="photosInfo">
    <div class="container-fluid">
        <div class="formDiv">
            <h1>
                {% if lang == None or lang == 'en' %}
                Let's share our memories!
                {% elif lang == 'de' %}
                Lasst uns die Erinnerungen teilen!
                {% endif %}
            </h1>
        </div>
        <p>
            {% if lang == None or lang == 'en' %}
            You can upload any photos and videos via
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScVXYDturm0Wc6RSvhN5xCiI1DQoTUmLAN2i6apIXUBcmn3FA/viewform">
                this form</a>, and download any content via below Google Drive folder here.
            {% elif lang == 'de' %}
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScVXYDturm0Wc6RSvhN5xCiI1DQoTUmLAN2i6apIXUBcmn3FA/viewform">
                Mit diesem Formular</a> können eure Fotos und Videos hochgeladen werden.
            Alle Medien sind über den unten stehenden Google Drive Ordner downloadbar.
            {% endif %}
        </p>
    </div>
</section>

<!-- Timeline -->
<section class="white-section" id="photos">
    <div class="container-fluid">
        <iframe src="https://drive.google.com/embeddedfolderview?id=1ewRt91ec4xuQt0-dwmQ_DhJAjW_WPds2LxvIHb3x3ZtZpFsaTwEYojaMX6TlhAybYs-QSwzQ#grid"
                frameborder="0" scrolling="yes" seamless="seamless" style="display:block; width:100%; height:100vh;"></iframe>
    </div>
</section>

{% include "footer.html" %}