{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<section class="colored-section" id="infoForm">
    <div class="container-fluid">
        <div class="formDiv">
            <h1>
                {% if lang == None or lang == 'en' %}
                Celebrate With Us
                {% elif lang == 'de' %}
                Begleite uns an unserem Tag
                {% endif %}
            </h1>
        </div>
        <p>
            {% if lang == None or lang == 'en' %}
            We hope you’ll join us for this special day.
            {% elif lang == 'de' %}
            Wir hoffen auf euer Erscheinen.
            {% endif %}
        </p>
    </div>
</section>

<section class="white-section" id="guestForm">
    {% if submission_successful %}
    <section class="white-section">
        <h1 style="color:green"><strong>
            {% if lang == None or lang == 'en' %}
            Thank you for your submission!
            {% elif lang == 'de' %}
            Danke für deine Antwort!
            {% endif %}
        </strong></h1>
    </section>
    {% endif %}
    {% if double_entry %}
    <section class="white-section">
        <h1 style="color:red"><strong>
            {% if lang == None or lang == 'en' %}
            You have already made your submission. Please contact us for any changes.
            {% elif lang == 'de' %}
            Du hast das Formular schon ausgefüllt. Bitte kontaktiere uns, falls du etwas ändern möchtest.
            {% endif %}
        </strong></h1>
    </section>
    {% for _ in data %}
    <p><strong>
        {% if lang == None or lang == 'en' %}
        First Name
        {% elif lang == 'de' %}
        Vorname
        {% endif %}: </strong>{{ _["firstName"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Last Name
        {% elif lang == 'de' %}
        Nachname
        {% endif %}: </strong>{{ _["lastName"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Email
        {% elif lang == 'de' %}
        E-Mail
        {% endif %}: </strong>{{ _["email"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Will you be attending?
        {% elif lang == 'de' %}
        Wirst du dabei sein?
        {% endif %}: </strong>{{ _["willYouBeAttending?"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Will you be bringing a guest?
        {% elif lang == 'de' %}
        Wirst du jemanden mitbringen?
        {% endif %}: </strong>{{ _["willYouBeBringingAGuest?"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Guest First Name
        {% elif lang == 'de' %}
        Gast Vorname
        {% endif %}: </strong>{{ _["guestFirstName"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Guest Last Name
        {% elif lang == 'de' %}
        Gast Nachname
        {% endif %}: </strong>{{ _["guestLastName"] }}</p>
    <p><strong>
        {% if lang == None or lang == 'en' %}
        Any dietary restrictions?
        {% elif lang == 'de' %}
        Irgendwelche Essenseinschränkungen?
        {% endif %}: </strong>{{ _["anyDietaryRestrictions?"] }}</p>
    {% endfor %}
    {% endif %}
    <div class="guestFormDiv">
        <p>
            {% if lang == None or lang == 'en' %}
            Please respond to our RSVP by April 20, 2024.
            {% elif lang == 'de' %}
            Wir bitten um eure Rückmeldung bis zum 20. April 2024.
            {% endif %}
        </p>
    </div>
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-md-6 col-sm-12 mx-auto">
                {{ render_form(form, novalidate=True, button_map={"submit": "dark"}) }}
            </div>
        </div>
    </div>
</section>


{% include "footer.html" %}